--*
*.pdb
*.Cache
*.suo
*.FileListAbsolute.txt
*.exe
*.exe.config
*.manifest
*.cache
*.refresh
*/obj/Debug/*
*/obj/Release/*
*/bin/Release/*
*/bin/Debug/*
*/bin/*
*/Bin/*
*/obj/x86/*
*/bin/*
*/obj/*
*.user
+*
TestResults
#*.vsmdi
#Local.testsettings
#TraceAndTestImpact.testsettings
LastTrace.log
Bin/*
*.log
obj/*
bin/*
*/read.1.tlog
.vs
_ReSharper*
bin
obj
packages
.fake
*.lock
.ionide
.microcelium
selenium-bin
screenshots
launchSettings.json
!build.fsx.lock
!Build.fsx.lock
.vscode
.store
microcelum-fake
